<!-- adicionar  dark-mode na class abaixo para ficar dark mode -->
<body class={{darkClass}}>
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a  target="_blank" class="nav-link">Website</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">

        <!-- Expand menu -->
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a routerLink="/dashboard" class="brand-link">
        <img src="assets/images/logobranco.png" alt="TripAcc Logo" class="brand-image" style="opacity: .5">
        <span class="brand-text font-weight-light">TripAcc</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->

            <!-- Dashboard -->
            <li class="nav-item">
              <a routerLink="/dashboard" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>

            <!-- Groups (onde tem active e class para selecionar o local atual)-->
            <li class="nav-item menu-open">
              <a routerLink="/group" class="nav-link active">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Grupos
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/groupCreate" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Criar Novo</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- User -->
            <li class="nav-item">
              <a routerLink="/user" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Utilizador
                </p>
              </a>
            </li>

            <!-- Logout -->
            <li class="nav-item">
              <a href="/" class="nav-link">
                <i class="nav-icon fas fa-power-off"></i>
                <p>
                  LogOut
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 98vh;">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Grupos</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <br>
          <div class="row">
            <div class="col-12">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Lista de Grupos</h3>

                  <div class="card-tools">
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 700px;">
                  <table class="table table-head-fixed text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Nome Grupo</th>
                        <th>Descrição</th>
                        <th>Estado</th>
                        <th style="width: 300px;">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let g of grupo;">
                        <td>{{ g.id }}</td>
                        <td>{{ g.name }}</td>
                        <td>{{ g.descricao }}</td>
                        <td>{{ g.moeda }}</td>
                        <td class="buttao"><button type="button" class="btn btn-success">Abrir</button>
                          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter" (click)="getID(g.id)">Editar</button>
                            <button type="button" class="btn btn-danger" (click)="removeGroup(g.id)">Eliminar</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>

  </div>
  <!-- ./wrapper -->
</body>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Editar Grupo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input type="text" class="form-control" name="Nome" [(ngModel)]="form.nome"  #nome="ngModel" placeholder="Nome" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" required>Descrição</label>
            <input type="text" class="form-control" name="descricao" [(ngModel)]="form.descricao" required #descricao="ngModel" placeholder="Descrição">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" required>Moeda</label>
            <select class="form-control" name="moeda" [(ngModel)]="form.moeda"  #moeda="ngModel" placeholder="Moeda" required>
              <option value="" disabled selected >Moeda</option>
              <option value="Euro">Euro</option>
              <option value="Dollar">Dollar</option>
              <option value="Libra">Libra</option>
              <option value="Real">Real</option>
              <option value="Franco">Franco</option>
              <option value="Peso">Peso</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="editGroup()">Editar</button>
      </div>
    </div>
  </div>
</div>
