<body>
  <!--form area start-->
  <div class="form" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <!--login form start-->
    <form class="login-form" action="" method="post">
      <img src="assets/images/logobranco.png">
      <input class="user-input" type="text" name="" placeholder="Username" required>
      <input class="user-input" type="password" name="" placeholder="Password" required>
      <input class="btn" type="submit" name="" value="LOGIN" routerLink="/home">
      <div class="options-02">
        <p>Not Registered? <a routerLink="/register">Create an Account</a></p>
      </div>
    </form>
  </div>
</body>