<body>
  <!--form area start-->
  <div class="form" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <!--login form start-->
    <form class="login-form" action="" method="post">
      <img src="assets/images/logobranco.png">
      <input class="user-input" type="email" name="email" [(ngModel)]="form.email" required #email="ngModel" placeholder="Email" required>
      <input class="user-input" type="password" name="password" [(ngModel)]="form.password" required #password="ngModel" placeholder="Password" />
      <input class="btn" type="submit" name="" (click)="onSubmit()"value="LOGIN">
      <div class="options-02">
        <p>Not Registered? <a routerLink="/register">Create an Account</a></p>
      </div>
    </form>
  </div>
</body>